<h1>New project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :repositiory_url %><br />
    <%= f.text_field :repositiory_url %>
  </p>
  <p>
    <%= f.label :project_type_id %><br />
    <%= f.text_field :project_type_id %>
  </p>
  <p>
    <%= f.label :repositiory_type_id %><br />
    <%= f.text_field :repositiory_type_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>
